@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.left {
    float: left;
    text-align: left;
}
.right {
    float: right;
    text-align: right;
}
.center {
    text-align: center;
}

input {
    display: block;
    margin: 0 auto;
    text-align: center;
}
button {
    display: block;
    margin: 0 auto;
    background-color: green;
}
#Log {
    background-color: #fff;
    border: 1px solid #000;
    margin: 0 auto;
    width: 40%;
    height: 250px;
    display: block;
    resize: none;
}
/*Footer*/
footer {
    background-color: #333;
    color: white;
    display: flex;
    position: fixed;
    height: auto;
    bottom: 0;
    width: 100%;
}
footer div {
    width: 50%;
    float: left;
    background-color: inherit;
}
footer div p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 24px;
}
footer div p a {
    color: white;
    text-decoration: underline;
}
footer div p a:hover {
    color: gold;
    text-decoration: underline;
}