@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
input {
    display: block;
    margin: 0 auto;
    text-align: center;
}
button {
    display: block;
    margin: 0 auto;
    background-color: green;
}